<h1>Events in Angular</h1>
<button class="btn" name="login" (click)="handleEvent($event)">Click on button</button>

<div style="background-color: green; height: 100px; width: 100px;" (mouseenter)="handleEvent($event)">

</div>
<br>
<div style=" z-index: 1000;background-color: red; height: 100px; width: 100px; display: flex; align-items: center; justify-content: center; color: white;" 
(mouseleave)="handleEvent($event)">
    
</div>

<br>
<input type="text" name="user" (input)="handleEvent($event)" (focus)="handleEvent($event)" (blur)="handleEvent($event)">